.sidenav-container {
  height: 52px;
}

.sidenav {
  width: 50%;
  height: 100%;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

.spacer {
  flex: 1 1 auto;
}

.navbar {
  display: none;
}

/*CSS tablet (>768px)*/
@media screen and (min-width: 768px) {
  .sidenav {
    display: none;
  }

  .navbar {
    display: block;
  }

  .navbar a{
    display: inline-block;
  }
}

/*CSS desktop (>992px)*/
@media screen and (min-width: 992px) {
}

/*CSS desktop (>1200px)*/
@media screen and (min-width: 1200px) {
}

