<div class="app">
  <div class="app__container"></div>
  <header className="logo__container">
  <img src="https://media.glassdoor.com/sqll/1328172/hammer-and-nail-squarelogo-1527551505226.png" className="App-logo" alt="klus-plus-logo" />
  <p>KlusPlus</p>
  </header>
  <div class="repairs">
    <div class="repairs__container">
      <div class="repairs__container--user">
        <p>Al een klant?</p>
        <a routerLink=".">Inloggen.</a>
      </div>
      <div class="repairs-container--button">
        <button mat-raised-button color="primary" routerLink="repairs">Reparatie aanvragen</button>
      </div>
    </div>
  </div>
</div>
